<% include partials/header %>
<h1>Dashboard</h1>
<div class="row text-center" style="display:flex; flex-wrap:wrap;">
    <% dashboardVideos.forEach(function(video){ %>
        <% if (video.thumbnail != null){ %>
            <a href="/watch?id=<%=video.videoId%>" class="col-md-3 col-md-6 row">
                <div class="thumbnail">
                    <img src="<%= video.thumbnail %>">
                    <div class="caption">
                        <h4><%= video.title %></h4>
                        <h4><%= video.author.name %></h4>
                        <h4><%= video.duration.timestamp %></h4>
                    </div>
                </div>
            </a>
        <% } %>
    <% }) %>
</div>
<% include partials/footer %>