<% include partials/header %>
<h1><%=searchKey%></h1>
<div>
    <% dashboardVideos.forEach(function(video){ %>
        <% if (video.thumbnail != null){ %>
            <a href="/watch?id=<%=video.videoId%>" class="dashboardVideo">
                <div class="thumbnail">
                    <img src="<%= video.thumbnail %>">
                    <div class="caption">
                        <h4><%= video.title %></h4>
                        <h4><%= video.author.name %></h4>
                        <h4><%= video.duration.timestamp %></h4>
                    </div>
                </div><br><br>
            </a>
        <% } %>
    <% }) %>
</div>
<% include partials/footer %>