<% include partials/header %>	
	
<div class="text-center" id="GrowAndShrinkWithPageWidth">
	<iframe src="https://www.youtube.com/embed/<%=videoDetails.videoId%>?rel=0"
		allowfullscreen="allowfullscreen"
		mozallowfullscreen="mozallowfullscreen" 
		msallowfullscreen="msallowfullscreen" 
		oallowfullscreen="oallowfullscreen" 
		webkitallowfullscreen="webkitallowfullscreen">
	</iframe>
</div>
<div id="VideoDetailsOnWatchPage" class="text-center">
	<div class="text-left">
		<h1 id="VideoTitle"><%=videoDetails.title%></h1>
		<h3 id="VideoUploadDate"><%=videoDetails.uploadDate%></h3>
		<h3 id="VideoTimestamp"><%=videoDetails.timestamp%></h3>
		<% videoDescriptionLines.forEach(function(line){ %>
			<h3><%=line%></h3>
		<% }) %>
	</div>
</div>
<div class="text-center">
	<a id="goToChannel" 
	href="/dashboard?playlistId=<%=channelPlaylistId%>" 
	class="btn btn-lg btn-success">Go To Channel</a>
</div>


<script>
		var setVideoBoxHeight = function() {
			var $videoBox = $(document.getElementById('GrowAndShrinkWithPageWidth'));
			var height = ($videoBox.width() * .6625);
			$videoBox.css('height', height + "px");
		};
		
		setVideoBoxHeight();
		$(window).on('resize', setVideoBoxHeight);
		$(window).on('orientationchange', setVideoBoxHeight);

</script>

<% include partials/footer %>
