<% include partials/header %>	
	
<div class="text-center" id="GrowAndShrinkWithPageWidth">
	<iframe src="https://www.youtube.com/embed/<%=videoDetails.videoId%>?rel=0"
		allowfullscreen="allowfullscreen"
		mozallowfullscreen="mozallowfullscreen" 
		msallowfullscreen="msallowfullscreen" 
		oallowfullscreen="oallowfullscreen" 
		webkitallowfullscreen="webkitallowfullscreen">
	</iframe>
</div>
<div id="VideoDetailsOnWatchPage" class="text-center">
	<div class="text-left">
		<h2 id="VideoTitle"><%=videoDetails.title%></h2>
		<h4 id="VideoUploadDate"><%=videoDetails.uploadDate%></h4>
		<h4 id="VideoTimestamp"><%=videoDetails.timestamp%></h4>
		<% videoDescriptionLines.forEach(function(line){ %>
			<h4><%=line%></h4>
		<% }) %>
	</div>
</div>

<script>
		var setVideoBoxHeight = function() {
			var $videoBox = $(document.getElementById('GrowAndShrinkWithPageWidth'));
			var height = ($videoBox.width() * .6625);
			$videoBox.css('height', height + "px");
		};
		
		setVideoBoxHeight();
		$(window).on('resize', setVideoBoxHeight);
		$(window).on('orientationchange', setVideoBoxHeight);

</script>

<% include partials/footer %>
